In [1]:
import os
import numpy as np
import pandas as pd
import clima_anom as ca
import cartopy
import cartopy.crs as ccrs
import matplotlib.pyplot as plt

In [2]:
# so = 'manjaro'
so = 'xubuntu'

In [4]:
if so == 'xubuntu':
    base = '/media/'
elif so == 'manjaro':
    base = '/run/media/'
print(f'so  : {so}')
print(f'base: {base}')

so  : xubuntu
base: /media/

In [5]:
Ano = '2018'
Mes = '03'

In [7]:
datas = []
for d in range(31):
    
    Dia = ("{:02d}".format(d+1))
    # print(Dia)

    for h in range(24):

        Hora = ("{:02d}".format(h))

        for m in range(12):

            if m == 0:
                Min_s = '00'
            elif m == 1:
                Min_s = '05'
            elif m == 2:
                Min_s = '10'
            elif m == 3:
                Min_s = '15'
            elif m == 4:
                Min_s = '20'
            elif m == 5:
                Min_s = '25'
            elif m == 6:
                Min_s = '30'
            elif m == 7:
                Min_s = '35'
            elif m == 8:
                Min_s = '40'
            elif m == 9:
                Min_s = '45'
            elif m == 10:
                Min_s = '50'
            elif m == 11:
                Min_s = '55'

            data_dir = base + 'arturo/Arturo/Data/BrasilDat/Campinas/2018/point/'
            data_name = Ano+'_'+Mes+'_'+Dia+'_'+Hora+'_'+Min_s+'.csv'
            
            datas.append(data_name)

In [10]:
file_out = pd.DataFrame({'data':datas})
file_out.head(4)

                   data
0  2018_03_01_00_00.csv
1  2018_03_01_00_05.csv
2  2018_03_01_00_10.csv
3  2018_03_01_00_15.csv

In [13]:
salida = base + 'arturo/Arturo/Data/BrasilDat/Campinas/2018/list/list_datas_5min.csv'
print(salida)

/media/arturo/Arturo/Data/BrasilDat/Campinas/2018/list/list_datas_5min.csv

In [14]:
file_out.to_csv(salida, index = False, header = True)